#Если вы такой же везучий человек как и я, и работаете на kde, вы наверняка могли столкнуться с такой тварью как kioslave5 при создании соединения с облаком дабы использовать его в провводнике как обычную папку. Данный системД сервис осущекствляет автоматический маунт облака в нужную папку при старте системы и обирает его через fusermount при ребуте/выключении.
# Из плюсов данная штука почти полностью агностична к облакам (rclone поддерживат очень много разных)
# Поэтому читаю, что даже в гноме, где всё ок с онлайн аккаунтами, оно будет смотреться хорошо.

# Перед началом работы нужно создать соединение с нужным облаком (в данном примере соединение названо "GDrive"). После чего можно монтировать и запускать данный сервис

# Если вы собираетемь передавать большие файлы, советую в файл rclone.conf прописать
# chunk_size = 1024M
# Зачем? На примере гугла: гугл не был бы гуглом если бы не вставил в свой апи квоту по запросам в минуту
# В итоге, когда я попытался переправить туда файл ~600Mib, он сказал иди нахер(http 403), твоя квота по звпросам превышена
# Данная настройка оптимизует запросы группируя данные в большие чанки и успешно обходит данное ограничение
# После установки, получилось спокойно перекинуть файл ~5.5Gib

[Unit]
Description=rclonemount
AssertPathIsDirectory=<полный путь до папки где будет облако>
After=network-online.target

[Service]
User=<ваш пользователь> # Бeз этой штуки всё только через sudo будет работать
Type=simple
ExecStart=/usr/bin/rclone mount \
        --config=/home/<ваш пользователь>/.config/rclone/rclone.conf \
        --transfers 16 \ # Оп-оп параллелим
        --buffer-size 128M \
        --vfs-cache-mode writes \ # Ленивая запись для оптимизации зависаний в проводнике (Чтение - жадное)
        GDrive:/ <полный путь до папки с маунтом облака>
ExecStop=/usr/bin/fusermount -u <полный путь до папки с маунтом облака>
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
